.SC_container {
    width: 35%;
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 1px 1px 10px grey;
}

.SC_description{
    margin-top: 1em;
    line-height: 1.5em;
}

.SC_price{
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 1em;
    color: #BF4913;
}


@media screen and (min-width: 1024px) {
    
    .SC_container {
        width: 20%;
    }
}