.text {
  font-size: 30pt;
  color: rgb(73, 34, 11);
}

.photoKezako {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  padding: 1em;
  border-radius: 5px;
  box-shadow: 1px 1px 10px grey;
  max-width: 60%;
  height: auto;
  vertical-align: middle;
}

.kezako_display {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.body {
  max-width: 1024px;
  margin: 20px auto;
}

[class*='grid-'] {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

[class*='grid-'] > * {
  flex: 0 0 auto;
}

[class*='grid-4'] > * {
  width: calc(100% * 1 / 4 - 1em - 0.01px);
}

.list-articles-grid .list-articles-item {
  margin-bottom: 0;
  border-bottom: 0;
}

.list-articles-grid .list-articles-item + .list-articles-item {
  border-left: 1px solid #e7eaea;
}

.list-articles-grid .list-articles-item {
  display: flex;
  flex-direction: column;
  padding-bottom: 1em;
  padding: 0 0.45em;
}

.list-articles-item {
  overflow: hidden;
}

.credits {
  margin-top: 40px;
  text-align: center;
}

.grandePhoto {
  max-width: 80%;
}
