.h_Main {
  background-color: lightgray;
}

.logoHome {
  width: 100%;
}

.titreHome,
.titleShop {
  text-align: center;
  /* margin-top: 5%; */
  margin-bottom: 5%;
}

.encadreTitre {
  margin-top: 5%;
}

.imgShop {
  display: flex;
  justify-content: center;
}

.encadreShop {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.h_Texte {
  text-align: center;
  margin-top: 5%;
}

.h_ImageHome {
  display: flex;
  justify-content: space-evenly;
}

.h_Bouton {
  display: flex;
  justify-content: center;
  margin: 5%;
}

.h_EncadreCrea {
  display: flex;
  margin-top: 5%;
  margin-bottom: 5%;
}

.h_imgCreatrice {
  border-radius: 90%;
  width: 65%;
}

.h_NewsLetter {
  text-align: center;
}

.h_figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.h_PartiTwo, .h_Bouton {
  margin: 5% 0 5% 0;
}