.logoHome {
  width: 100%;
}

.titreHome,
.titleShop {
  text-align: center;
  margin-top: 2%;
}

.encadreTitre {
  margin-top: 3%;
}

.imgShop {
  display: flex;
  justify-content: center;
}

.encadreShop {
  display: flex;
  align-items: center;
  flex-direction: column;
}
