.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
    width: 100%;
}

.form__input {
    background-color: #E4EBF5;
    box-shadow: inset -2px -2px 5px #ffffff, inset 2px 2px 5px #bec8e4;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    height: 40px;
    margin-left: 1rem;
    outline: none;
    padding: 0 1rem;
    transition: box-shadow 0.2s ease-in-out;
}

.form__input:hover, .form__input:focus {
    box-shadow: inset -1px -1px 2px #ffffff, inset 1px 1px 2px #bec8e4;
}
