* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: 'Arapey', serif;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  color: #882631;
}

h2 {
  font-family: 'Old Standard TT', serif;
}

.navLogo {
  display: flex;
  justify-content: center;
  background-color: rgb(13, 54, 72); 
} 

.encadreHome {
  width: 20%;
}

/* pour customisation carrousel */
.control-arrow {
  opacity: 0.8!important;
}

.carousel .control-arrow:before, .carousel.carousel-slider .control-arrow:before {
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  content: ''; }

.carousel .control-prev.control-arrow:before {
  border-right: 12px solid rgba(252,247,240,1) !important;
}
.carousel .control-next.control-arrow:before {
  border-left: 12px solid rgba(252,247,240,1)!important;
}

.carousel .slide .legend {
  bottom: 35px;
  left: 50%;
  margin-left: -45%;
  width: 90%;
  border-radius: 5px;
  background: linear-gradient(rgba(237,227,216,1) 15%, rgba(252,247,240,1) 80%);
  color: #093346;
  padding: 0;
  font-size: 2em;
  text-align: center;
  opacity: 1;
}

._button {
  width: 40%;
  height: 20%;
  box-shadow: inset 0px 1px 3px 0px #91b8b3;
  background: linear-gradient(to bottom, #ccd5c9 5%, #0d3648 100%);
  border-radius: 5px;
  border: 1px solid #566963;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 0.8em;
  font-weight: bold;
  padding: 11px 23px;
  text-shadow: 0px -1px 0px #2b665e;
}
._button:hover {
  background: linear-gradient(to bottom, #0d3648 5%, #ccd5c9 100%);
}
._button:active {
  position: relative;
  top: 1px;
}

@media screen and (min-width: 1024px) {
  
  .encadreHome {
    height: 20vh;
  }

   .logoHome {
    height: 100%;
  } 

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }

  p {
    font-size: 1.5rem;
  }
}