* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: 'Arapey', serif
}

h1 {
  font-family: 'Montserrat', sans-serif;
}

h2 {
  font-family: 'Old Standard TT', serif;
}

 .navLogo {
  display: flex;
  justify-content: center;
} 

.encadreHome {
 width: 20%;
}
