* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: 'Arapey', serif
}

h1 {
  font-family: 'Montserrat', sans-serif;
  color: #882631;
}

h2 {
  font-family: 'Old Standard TT', serif;
}

 .navLogo {
  display: flex;
  justify-content: center;
  background-color: rgb(13, 54, 72); 
} 

.encadreHome {
 width: 20%;
}
