* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: 'Arapey', serif;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  color: #882631;
}

h2 {
  font-family: 'Old Standard TT', serif;
}

.navLogo {
  display: flex;
  justify-content: center;
  background-color: rgb(13, 54, 72); 
} 

.encadreHome {
  width: 20%;
}

/* pour customisation carrousel */
.control-arrow {
  opacity: 0.8!important;
}

.carousel .control-arrow:before, .carousel.carousel-slider .control-arrow:before {
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  content: ''; }

.carousel .control-prev.control-arrow:before {
  border-right: 12px solid rgba(252,247,240,1) !important;
}
.carousel .control-next.control-arrow:before {
  border-left: 12px solid rgba(252,247,240,1)!important;
}

.carousel .slide .legend {
  bottom: 35px;
  left: 50%;
  margin-left: -45%;
  width: 90%;
  border-radius: 5px;
  background: linear-gradient(rgba(237,227,216,1) 15%, rgba(252,247,240,1) 80%);
  color: #093346;
  padding: 0;
  font-size: 2em;
  text-align: center;
  opacity: 1;
}
